{% extends "base.html" %}


{% block title %}Loading!{% endblock %}

{% block content %}

<img src="{{ url_for('static', filename='assets/images/logo.jpg') }}" class="center-40" align="right-top"   width="40%" height="40%"/>
<img src="{{ url_for('static', filename='assets/images/loading-tab.jpg') }}" class="center-80" align="right-top"   width="55%" height="5%"/>

<img src="{{ url_for('static', filename='assets/images/icon4.jpg') }}" class="bottom-left img-hor" align="right-top"   width="25%"/>
<img src="{{ url_for('static', filename='assets/images/icon4.jpg') }}" class="bottom-right" align="right-top"   width="25%"/>

{% endblock %}