{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}

<h1>Payment</h1>
<div style="background-image: url_for('static', filename='assets/images/icon1.jpg')">
    <p>Do you want to begin the payment process?</p>

<div class="buttons center" style="border:0">

    <div class="action_btn">

    <button name="submit" class="action_btn submit" type="submit" value="Save">Save</button>
    <button name="submit" class="action_btn cancel" type="submit" value="Cancel">Cancel</button>

    </div>
</div>
<img src="{{ url_for('static', filename='assets/images/icon1.jpg') }}" class="bottom-right" align="right-top"   width="35%"/>

{% endblock %}
