{% extends "base.html" %}

{% block title %}Summary!{% endblock %}

{% block styles %}   
  <style>
    table { border: none; border-collapse: collapse; }
    table tr { border-top: none; }
    table tr:last-child { border-top: 10px solid #ba1c24; }
  </style>
{% endblock %}

{% block content %}

<h1>Summary</h1>

<img src="{{ url_for('static', filename='assets/images/icon3.png') }}" class="top-layer" align="left"  width="25%"/>
<img src="{{ url_for('static', filename='assets/images/icon4.png') }}" class="top-layer" align="right" width="15%"/>
<table class="center-50 red-border" height="80%" x width="80%" style="box-shadow: 10px 10px lightblue;">
    <tr>
      <th>Order List</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>Red Plate</th>
      <td>{{ red }} Baht</td>
    </tr>
    <tr>
        <th>Silver Plate</th>
        <td>{{ silver }} Baht</td>
    </tr>
    <tr>
        <th>Gold Plate</th>
        <td>{{ gold }} Baht</td>
    </tr>
    <tr>
        <th>Black Plate</th>
        <td>{{ black }} Baht</td>
    </tr>
    <tr>
        <th>Total Price: </th>
        <th>{{ total }} Baht</th>
    </tr>
  </table>
{% endblock %}
