{% extends "base.html" %}


{% block title %}Thank you!{% endblock %}

{% block content %}

<img src="{{ url_for('static', filename='assets/images/background-sushi.png') }}"  width="100%" height="100%"/>
<div class="rcorners1 center-50" style="width:50%; height:45%;box-shadow: 10px 10px lightblue;">
    <a class="bottom-left" style="padding-left: 5%; padding-bottom: 5%;">SushiRov.co.th</a>
    <a class="bottom-right" style="padding-right: 5%; padding-bottom: 5%;">EatSushiRov</a>
    <p class="center-40">Dear customers, <br> Thank you so much your trusts and continuing supports toward SushiRov. We 
    hope to serve you again in the near future.</p>
</div>
<img src="{{ url_for('static', filename='assets/images/icon2.png') }}" class="center-80"   width="30%" />
{% endblock %}
